
    body {
        font-family: Arial, sans-serif;
    }

    .navbar {
        background-color: #333;
        color: white;
        padding: 15px;
        text-align: center;
    }

    .search-input {
        padding: 10px;
        margin: 10px;
    }

    .car-details {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
    }

.container {
    max-width: 10000px;
    margin: 0 auto;
    padding: 40px;
}

.car-card {
    border: 100px solid aqua;
    padding: 50px;
    margin-bottom: 100px;
}

.car-image {
    width: 300px;
    height: 250px;
    object-fit: cover;
}
